@charset "UTF-8";
@font-face {
  font-family:'Nanum Barun Gothic';
  font-style:normal;
  font-weight:400;
  src:local('NanumBarunGothic'),
  url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.woff) format('woff');
}
/*@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);*/
/*@import url(http://www.openhiun.com/hangul/nanumbarungothic.css);*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 * Seoul Scope.
 */
html, body {
  height: 100%;
  font-family: 'NanumBarunGothic', 'Nanum Barun Gothic', sans-serif;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  overflow-x: hidden;
}

/*a, a:link, a:visited, a:hover, a:active { text-decoration: none; color: black; }*/
a { color: black; }
a, a:link, a:visited, a:active { text-decoration: none; }

p { font-size: 16px; line-height: 1.55em; color: #666; white-space:pre-line; margin-bottom: 0.5em; }



.nav { position: absolute; box-sizing: border-box; z-index: 900;}


.nav-log { height: 16px; width: 50%; right: 0; overflow-x: hidden; }
.nav-log .log-index { position:relative; height: 12px; width: 730px; background-color:black; /*box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);*/ }
.nav-log .log-index .log { display: block; position: absolute; height: 100%; width: 2px; background-color:white; }
.nav-log .log-index .disabled { background-color: #555; cursor: default; }
.nav-log .log-index .today { cursor: default; height: 16px; background-color:#ffaa17; }
.nav-log .log-index .tick { position: absolute; cursor: default; height: 16px; background-color:black; width: 1px;}

.tooltip { background-color: black; position: absolute; z-index: 901; color: white; padding: 4px; width: 54px; text-align: center; top: -1000px; border-radius: 2px;}
#log-tooltip { font-size: 0.6em; }


.nav-domain {
  background-color: transparent;
  color: white;
  font-size: 11px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0.2;
  right: 50%;
}
.nav-domain:hover {
  opacity: 0.6;
}

.nav-domain .domains { margin-bottom: 10px; }
.nav-domain .domain {
  box-sizing: border-box;
  margin-bottom: 4px;
  float: right;
  clear: both;
}

.nav-domain h1 {
  font-size: 11px;
  color: #aaa;
  float: left;
  padding: 4px 8px;
  background-color: rgba(52, 73, 94, 1.0);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.9);
  -webkit-transform: translate(22px, 4px);
  transform: translate(22px, 4px);
}
.nav-domain h1 a {
  color: #aaa;
}
.nav-domain .zones-wrapper {
  float: right;
  /*background-color: rgba(44, 62, 80, 1.0);*/
  background-color: rgba(52, 73, 94, 1.0);
  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.9);
  padding: 24px 8px 4px;
  text-align: right;
  max-width: 180px;
}
.nav-domain .zones {
  font-size: 12px;
  /*display: none;*/
}
.nav-domain .zones li { margin: 6px 0; }
.nav-domain .zones a { color: white; }

.nav-domain .zones .spots {
  font-size: 11px;
  /*padding-left: 8px;*/
}

.nav-domain .zones .spots a {
  color: #888;
}



.pane { width: 50%; height: 100%; box-sizing: border-box; overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch; }
.pane-right { float: right; }
.pane-left { float: left; }

#page-container { padding: 25px 0 14px; }

.page { min-height: 100%; }

.title { text-align: center; font-size: 2em; font-weight: bold; }
.site-title { font-family: 'Great Vibes', cursive; }
.fin { font-family: 'Great Vibes', cursive; text-align: right; font-size: 1.0em; font-weight: bold; margin: 8px 16px 0; }


.image-wrapper { line-height: 0; border: 1px solid gray; margin: 0 4px 4px; }
.image-wrapper img { width: 100%; }

/** home **/
.home-page .image-wrapper { height: 200px; overflow: hidden; margin: 0 4px; }

h1 { margin-bottom: 16px; }

div.date { margin-bottom: 24px; }

h2.date { border-bottom: 0px solid #000; margin: 0 16px 16px; font-size: 14px; color: #747d7d;}
h2.date:after {
  content: " ";
  display: block;
  margin: 0;
  padding: 0;
  height: 0;
  border-width: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #fff;
  position: relative;
  top: 2px;
}
h2.date .day { padding: 0; }
h2.date .month { padding: 0 6px; }
h2.date .dayweek { padding: 0 8px; }
h2.date .year { float:right; font-size: 0.7em; }

.spot { font-size: 24px; margin: 22px 0 11px -16px; font-weight: bold; }
.area { font-size: 14px; margin-left: 12px; color: #999; }

.content-text { padding: 0 16px 0 32px; }
.content-text p { font-size: 16px; line-height: 1.55em; color: #666; white-space:pre-line; margin-bottom: 0.5em; }

.description-text { padding: 0 4px 4px; }
.description-text p { font-size: 16px; line-height: 1.55em; color: #666; white-space:pre-line; margin-bottom: 0.5em; }

li { margin-top: 8px; }

.information {
  text-align: right;
  margin: 8px 16px;
  font-size: 14px;
}

.zone-page .spots { padding: 0 16px; }

#map-canvas { width: 100%; height: 100%; }

.page-header {display: none;}

@media (max-width:730px) {
  .pane { width: 100%; position: absolute; top: 0; left: 0; }
  #page-container { z-index: 1; background-color: #fff;  }

  .pane-left { }

  #page-container.header {
    padding-top: 56px;
  }
  #page-container .page-header { display: none; }
  #page-container.header .page-header { display: block; }

  #page-container.header .page-header {
    width: 100%;
    height: 40px;
    text-align: center;
    /*margin: -25px 0 16px;*/
    background-color: black;
    opacity: 0.5;
    display: block;

    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 16px;

    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
  }

  .page-header.hide {
    top: -40px;
  }

  .page-header.fixed {
    background-color: red;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }

  .page-header .btn-map {
    position: absolute;
    left: 4px;
    top: 4px;

    width: 32px;
    height: 32px;

    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
  }

  .nav-log {
    display: none;
  }

  .nav-domain {
    background-color: transparent;
    color: white;
    font-size: 14px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    left: 0;
    right: auto;
    opacity: 0.8;
  }
  .nav-domain:hover {
    opacity: 0.8;
  }

  .nav-right {
    height: 100%;
    right: 0;
    text-align: right;
  }

  .nav-left {
    height: 100%;
    left: 0;
    text-align: left;
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }

  .nav-domain .domain-wrapper {}
  .nav-domain .domain {
    box-sizing: border-box;
    margin-bottom: 4px;
    float: left;
    clear: both;
  }

  .nav-domain h1 {
    font-size: 11px;
    /*color: #aaa;*/
    float: right;
    /*width: 80px;*/
    padding: 4px 8px;
    /*background-color: black;*/
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.9);
    -webkit-transform: translate(-22px, 4px);
    transform: translate(-22px, 4px);
  }
  .nav-domain .zones-wrapper {
    float: left;
    /*background-color: black;*/
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.9);
    padding: 24px 8px 4px;
    text-align: left;
    max-width: 200px;
  }
  .nav-domain .zones {
    font-size: 16px;
    /*width: 110px;*/
  }
  .nav-domain .zones li { margin: 6px 0; }
  .nav-domain .zones a { color: white; }

  .nav-domain .zones .spots {
    font-size: 14px;
    padding-left: 8px;
  }

  .nav-domain .zones .spots a {
    color: #888;
  }

  .nav-domain.ng-hide-add, .nav-domain.ng-hide-remove {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display: block!important;
  }

  .nav-domain.ng-hide-add.ng-hide-add-active,
  .nav-domain.ng-hide-remove {
    -webkit-transform: translate(-160px, 0);
    transform: translate(-160px, 0);
    opacity: 0;
  }

  .nav-domain.ng-hide-add,
  .nav-domain.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 0.8;
  }
}
