<h1 class="page-header">방문</h1>
<div class="row" ng-show="logs.length == 0">
    <div class="bg-info text-center">
        <p>Loading...</p>
    </div>
</div>
<div class="row" ng-show="logs.length > 0">
    <a href="#/log/add" class="btn btn-primary btn-block">
        <span class="glyphicon glyphicon-plus"> Add</span>
    </a>
    <div class="table-responsive" style="overflow-x:hidden;">
        <table class="table table-striped table-hover" ng-init="predicate = ['date', 'time']; reverse=true">
            <thead>
                <tr>
                    <th><a href="" ng-click="predicate = ['date', 'time']; reverse=!reverse">Date</a></th>
                    <th>Time</th>
                    <th><a href="" ng-click="predicate = ['name']; reverse=!reverse">Name</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="editLog(log)" ng-repeat="log in logs | orderBy:predicate:reverse" style="cursor:pointer;" ng-class="getStatusClass(log)">
                    <td>{{log.date}}</td>
                    <td>{{log.time}}</td>
                    <td>{{log.name}}<i class="pull-right glyphicon glyphicon-chevron-right"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
<!--     <ul class="pagination">
        <li><a href="">&laquo;</a></li>
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">&raquo;</a></li>
    </ul>
 -->
 </div>