<h1 class="page-header">장소</h1>
<div class="row" ng-show="spots.length == 0">
    <div class="bg-info text-center">
        <p>Loading...</p>
    </div>
</div>
<div class="row" ng-show="spots.length > 0">
    <a href="#/spot/add" class="btn btn-primary btn-block">
        <span class="glyphicon glyphicon-plus"> Add</span>
    </a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:15%;">Name</th>
                    <th style="width:15%;">Address</th>
                    <th style="width:25%;">Coordinates</th>
                    <th style="width:10%;">Area</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="editSpot(spot)" ng-repeat="spot in spots" style="cursor:pointer;" ng-class="getStatusClass(spot._status)">
                    <td>{{ spot.name }}</td>
                    <td>{{spot.address}}</td>
                    <td>
                        <a class="btn btn-default btn-xs" href="https://www.google.com/maps/@{{spot.coordinates}},16z" target="_blank" ng-show="spot.coordinates"><i class="glyphicon glyphicon-map-marker"></i></a>
                        {{spot.coordinates}}
                    </td>
                    <td>{{spot.area}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
